@page
@model IndexModel
@using TooTipsy.Features.Formulas.Enums
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Too Tipsy</h1>
    <p>The Easy Tip Calculator For When You're Friends Gave You One Too Many Drinks.</p>
    <p>Your Tip Result Will Be : @Model.Amount</p>
</div>

<div>
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="calculationRequest.BillAmount" class="control-label"></label>
                <input asp-for="calculationRequest.BillAmount" class="form-control" />
                <span asp-validation-for="calculationRequest.BillAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="calculationRequest.TaxAmount" class="control-label"></label>
                <input asp-for="calculationRequest.TaxAmount" class="form-control" />
                <span asp-validation-for="calculationRequest.TaxAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="calculationRequest.Description" class="control-label"></label>
                <input asp-for="calculationRequest.Description" class="form-control" />
                <span asp-validation-for="calculationRequest.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="calculationRequest.CreatedDate" class="control-label"></label>
                <input asp-for="calculationRequest.CreatedDate" type="datetime-local" class="form-control" value="@DateTime.Today" />
                <span asp-validation-for="calculationRequest.CreatedDate" class="text-danger"></span>
            </div>
            <div class="card-deck">
                <!-- Method 1 -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">20 %</h5>
                        <button type="submit" class="btn btn-success" asp-route-id="@FormulaType.TwentyPercentOfBill">Calculate Tip</button>
                    </div>
                </div>

                <!-- Method 2 -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Double Tax </h5>
                        <button type="submit" class="btn btn-success" asp-route-id="@FormulaType.DoubleTax">Calculate Tip</button>
                    </div>
                </div>

                <!-- Method 3 -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">15 %</h5>
                        <button type="submit" class="btn btn-success" asp-route-id="@FormulaType.FifteenPercentOfBill">Calculate Tip</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>

<div class="text-center">
    <table class="table table-borded">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Description</th>
                <th>Bill</th>
                <th>Tax</th>
                <th>Tip</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @if(Model.UserLoggedIn() && Model.Calculations is not null && Model.Calculations.Any())
                {
                    foreach (var calc in Model.Calculations)
                    {
                        <tr>
                            <td>@calc.Id</td>
                            <td>@calc.Description</td>
                            <td>@calc.BillAmount</td>
                            <td>@calc.TaxAmount</td>
                            <td>@calc.TipAmount</td>
                            <td>@calc.CreatedDate</td>
                        </tr>
                    }
                }
        </tbody>

    </table>

</div>